@page "/"

<PageTitle>Moogle!</PageTitle>

<style>
	@@-webkit-keyframes fade-in {
		0% {
			opacity: 0;
			transform: translateY(-50px);
		}
		100% {
			opacity: 1;
			transform: translateY(0);
		}
	}
	@@-webkit-keyframes slide-in {
		0% {
			transform: translateY(100%);
			opacity: 0;
		}
		100% {
			transform: translateY(0);
			opacity: 1;
		}
	}
	body {
		background-attachment: fixed;
		background-image: url('img/main.jpg');
		background-position: center;
		background-size: cover;
		display: flex;
		flex-direction: column;
		font-weight: bold;
		height: 100vh;
		justify-content: center;
		padding: 34% 0;
		text-shadow: 2px 2px #404040;
	}
	h1 {
		animation: fade-in 1s ease-in-out;
		color: yellow;
		font-size: 100px;
		font-weight: inherit;
		text-shadow: inherit;
	}
	.btn:focus {
		box-shadow: none;
	}
	.content {
		height: 100vh;
		position: relative;
	}
	.item {
		animation: slide-in 1s ease-in-out;
		background-color: rgba(0, 0, 0, 0.4);
		border-radius: 20px;
		color: #fff;
		margin-top: 20px;
		padding: 10px;
		text-align: left;
	}
	.search-box {
		animation: fade-in 1s ease-in-out;
		background-color: rgba(0, 0, 0, 0.3);
		border-radius: 50px;
		display: inline-flex;
		width: 50%;
	}
	.search-box input {
		background-color: transparent;
		border: none;
		color: white;
		font-size: 1.2em;
		line-height: 2em;
		padding: 5px 25px;
		width: 100%;
	}
	.search-box input::placeholder {
		color: lightgray;
	}
	.suggestion {
		background-color: rgba(0, 0, 0, 0.35);
		border-radius: 20px;
		color: #fff;
		font-size: 1.2em;
		font-weight: normal;
		margin: 0 auto;
		text-shadow: none;
		width: 75%;
	}
</style>

<div class="content">
	<h1>🔍 Moogle!</h1>
	<div class="search-box p-1 my-4">
		<input @bind="query" onfocus="this.style.outline='none';" placeholder="Introduzca su búsqueda...">
		<button @onclick="RunQuery" class="btn">
			<svg xmlns="http://www.w3.org/2000/svg" fill="lightgray" height="24" width="24" viewBox="0 0 24 24">
				<path d="M9.5 16a6.5 6.5 0 1 1 4.798-2.13l4.45 4.45a1 1 0 0 1-1.414 1.414l-4.45-4.45A6.445 6.445 0 0 1 9.5 16zm0-11a4.5 4.5 0 1 0 0 9 4.5 4.5 0 0 0 0-9z"/>
			</svg>
		</button>
	</div>
	@if(!string.IsNullOrEmpty(result.Suggestion) && result.Count < 5) {
		<div class="suggestion">
			<p style="padding: 7px;">Quisistes decir: <b><i>
				<a href="#" style="text-decoration: none;">@result.Suggestion</a>
			</i></b></p>
		</div>
	}
	@if(result.Count > 0) {
		<div class="suggestion">
			<p style="padding: 7px;">Resultados de la búsqueda: @result.Count</p>
		</div>
	}
	<ul class="results">
		@foreach(var item in result.Items()) {
			<li>
				<div class="item">
					<a href=@item.FilePath target="_blank"
						style="color: green; padding: 7px; text-shadow: none;">@item.Title</a>
					<p style="font-weight: 1; padding: 7px; text-shadow: none;">@item.Snippet</p>
				</div>
			</li>
		}
		<li></li>
	</ul>
</div>

@code {
	private Moogle moogleEngine = new Moogle();
	private SearchResult result = new SearchResult();
	private string query = "";

	private void RunQuery() {
		result = moogleEngine.Query(query);
	}
}